
@font-face {
    font-family: 'iconfont';
    src: url('./iconfont/iconfont.eot');
    src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
        url('./iconfont/iconfont.woff2') format('woff2'),
        url('./iconfont/iconfont.woff') format('woff'),
        url('./iconfont/iconfont.ttf') format('truetype'),
        url('./iconfont/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a{
      text-decoration: none;
      color: #000;
  }
.main {
    width: 1122px;  
    height: 507px;
    background: url(./img/天津.jpg) no-repeat ;
    background-size: 1176px 768px;
    margin: 234px auto;
    border:1px solid rgba(112,112,112,1);
    opacity:0.49;
    border-radius:38px;
}
.nav {
    width:960px;
    height:45px;
    background:rgba(219,223,220,1);
    border:1px solid rgba(112,112,112,1);
    opacity:0.48;
    margin: 64px auto 0;
    border-radius:38px;
    position: relative;
}
.nav span{  
    font-size: 40px;
    display: block;   
}
.nav .home{
    position: absolute;
    left: 20px;
}
.nav .list{
    position: absolute;
    left: 77px;
}
.nav #search{
    position: absolute;
    right: 20px;
}

.nav #search:after{
    content:"测试";
}
.nav #searchInput{
    padding:0;
    /* border: 0;默认boder为1 */
    width: 50px;
    height: 45px;
    position: absolute;
    right:0px;
    background:rgb(246, 248, 247);
    border:1px solid rgba(112,112,112,1);
    
    border-radius:50px;
    display: none;
}

.searchOpen{

}