body{
    margin: 0;
    padding: 0;
    background-color: thistle;
}

.search-box{
    /* 页面居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


    height: 40px;
    border-radius: 40px;
    padding: 10px;

    background-color: red;
}
.search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background-color: white;
}
.search-btn{
    color: blue;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-text{
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
